extends layout

block content
  div(class="jumbotron")
    h3 Iniciar Sesión
    form(method="post")
    div(class="form-group")
    input(placeholder="Usuario" type="text" id="usuario")
    div(class="form-group")
    input(class="form-group" placeholder="Contraseña" type="password" id="contrasena")
    div(class="form-group")
    a(class="btn btn-success btn-md" type="submit") Ingresar