doctype html
html
  head
    title Agenda
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel='stylesheet', href='../stylesheets/bootstrap.min.css')
  body
    div(id="navbar" class="navbar-collapse collapse")
      ul(class="nav nav-tabs" role="tablist")
        li(class="nav-item")
          a(href="./") Inicio
        li(class="nav-item")
          a(href="#" ) Contactos
        li(class="nav-item")
          a(href="#") Historial
            
    
    div(class="container")
      block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="../javascripts/bootstrap.min.js")
